.weekWeather {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  display: inline-block;
  top: -310px;
  left: 448px;
  bottom: 0;
  width: 350px;
  height: 547px;
  z-index: 3;
}

table {
  position: relative;
  top: 55px;
  left: 55px;
  width: 260px;
  line-height: 10px;
  text-align: left;
}

.imgholder {
  padding-top: 10px;
}

hr {
  border: 2px solid whitesmoke;
  opacity: 0.25;
  margin: 8px 0 10px 0;
  width: 100px;
}
.weekday {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.daytemp {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding-left: 50px;
}
